.container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

input {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

#weather-display {
    margin-top: 20px;
}

#history-container {
    background-image: var(--bs-gradient);
    font-size: larger;
    padding: 20px;
    width: 225px;
    text-align: center;
    border: 2px solid black;
    background-color: #a579f0;
}

h2 {
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: left;
    margin-top: 5%;
}

.Cities button {
    width: 250px;
    margin: 0 .5%;
    font-size: 150%;
    color: #13293d;
    background-color: #fff;
    border: 3px solid #13293d;
}

.search_history {
    display: block;
    flex: 1;
    background-color: #b9c6ae;
    padding: 80px;
    text-align: left;
    margin-block: 20px;
}

.card {
    background-image: var(--bs-gradient);
    display: inline-block;
    padding: 10px;
    width: 200px;
    text-align: center;
    ;
    border: 2px solid black;
    background-color: #79d4f0;
}